<div class="review-card">
  <div class="review-card-front">
    <%= @card.front %>
  </div>
  <div class="review-card-back">
    <%= @card.back %>
  </div>
</div>

<div class="review-answer">
  <%= link_to t('.fail'), review_card_miss_path(@review_id, @card),
    class: 'review-answer-fail' %>

  <%= link_to t('.hit'), review_card_hit_path(@review_id, @card),
    class: 'review-answer-hit' %>
</div>
