<h1><%= @review.deck.name %></h1>

<div class="info">
  <p>
    <%= t('.done_message') %>
  </p>
</div>

<div class="actions">
  <%= link_to t('.home'), root_path, class: 'btn btn-blue btn-greater' %>
</div>
