<% if user_signed_in? %>
  <ul>
    <li>
      <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %>
    </li>
    <li>
      <%= link_to t('.profile_settings'), edit_user_registration_path %>
    </li>
    <li>
      <%= link_to t('.home'), decks_path  %>
    </li>
  </ul>
<% end %>
